# We rely on it for permissions in acl rules.
# See: logseq://graph/Notes?block-id=69638b1c-9b18-4b5a-b8e4-2e735e1532db
- name: Ensure uinput group is present on the system
  ansible.builtin.group:
    name: uinput
    state: present
  become: true

- name: Create keymapper user for keyszer
  ansible.builtin.user:
    name: "{{ keymapper_username }}"
    comment: User for managing keyboard-related services (e.g. keyszer)
    create_home: true
    groups: "keymapper,input,uinput"
  become: true

- name: Install keyszer
  community.general.pipx:
    name: keyszer
    source: git+https://github.com/joshgoebel/keyszer.git
  # Runs as sudo but from keymapper user perspective. In other words, we
  # require only system sudo password, not keymapper user password. It may be
  # a problem when you'll want to enter this user later manually (he doesn't
  # have a password).
  become: true
  become_user: "{{ keymapper_username }}"

- name: Make sure devices connected via KVM-switch are not suspended (to reconnect faster)
  template:
    src: 10-kvm-disable-autosuspend.rules.j2
    dest: "/etc/udev/rules.d/10-kvm-disable-autosuspend.rules"
    # Rules are just piled up in the directory and applied sequentially causing unnecessary overlap.
    backup: false
    mode: "0644"
  become: true

- name: Configure linux access control lists (acl) for keymapper user to have enough permissions to manage inputs
  template:
    src: 90-keymapper-acl.rules.j2
    # Rules are just piled up in the directory and applied sequentially causing unnecessary overlap.
    dest: "/etc/udev/rules.d/90-keymapper-acl.rules"
    backup: false
    mode: "0644"
  become: true

- name: Ensure keyszer.service in place for systemd to use
  template:
    src: keyszer.service.j2
    dest: "/etc/systemd/system/keyszer.service"
    backup: true
    mode: "0644"
  become: true

- name: Ensure keyszer.service is enabled
  ansible.builtin.systemd_service:
    state: started
    # Reload systemd daemon to apply changes to services.
    daemon_reload: true
    enabled: true
    name: keyszer
  become: true
