KERNEL=="event*", SUBSYSTEM=="input", RUN+="/usr/bin/setfacl -m user:{{ keymapper_username }}:rw /dev/input/%k"
# KERNEL=="uinput", SUBSYSTEM=="misc", RUN+="/usr/bin/setfacl -m user:{{ keymapper_username }}:rw /dev/uinput"
SUBSYSTEM=="misc", KERNEL=="uinput", MODE="0660", GROUP="uinput", OWNER="{{ keymapper_username }}"
