[Unit]
Description=keyszer

[Service]
Type=simple
KillMode=process
ExecStart=/home/{{ keymapper_username }}/.local/bin/keyszer --config {{ keyszer_config_path }}
Restart=on-failure
RestartSec=3
Environment=DISPLAY=:0
User={{ keymapper_username }}
Group=input

[Install]
WantedBy=graphical.target
