[Unit]
Description=Start ChronoIndex__Database Solr for syncing local ChronoIndex across devices
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
KillMode=process
WorkingDirectory=/home/{{ ansible_user }}/.bookmarks/shared-projects/--personal/InfoField__/ChronoIndex__/ChronoIndex__Database/Solr
ExecStart=/usr/bin/bash -c "/home/{{ ansible_user }}/.nix-profile/bin/docker compose up --detach"
ExecStop=/usr/bin/bash -c "/home/{{ ansible_user }}/.nix-profile/bin/docker compose stop"

Restart=on-failure
RestartSec=120

[Install]
WantedBy=multi-user.target
